.signup {
  width: 100%;

  background-color: var(--red-500);
  background-image: url('../../assets/background.svg');
  background-size: cover;

  .container {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;

    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1.5rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 4rem 1.5rem;
    }

    .text-wrapper {
      width: 100%;

      padding: 3rem;

      @media (max-width: 1024px) {
        max-width: 540px;

        margin-bottom: 4rem;
        padding: 0;

        text-align: center;
      }

      h1 {
        font-size: 3rem;
        line-height: 55px;

        @media (max-width: 430px) {
          font-size: 2rem;
        }
      }

      p {
        margin-top: 2rem;

        line-height: 26px;

        
        @media (max-width: 430px) {
          margin-top: 1rem;
        }
      }
    }

    .form-wrapper {
      max-width: 540px;
      width: 100%;

      & > p {
        width: 100%;
        padding: 1rem 1rem;

        background: var(--blue-500);
        font-size: .9rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
      }

      form {
        margin-top: 1.5rem;
        padding: 2.5rem;

        border-radius: 10px;
        background: white;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);

        .input-wrapper{
          width: 100%;

          position: relative;

          & + div {
            margin-top: 1.3rem;
          }

          img {
            display: none;
          }

          .error-message {
            display: none;
          }

          &.error {
            input {
              border: 2px solid var(--red-500);

              &.color-red {
                color: var(--red-500);
              }
            }

            img {
              display: block;
              position: absolute;
              top: .8rem;
              right: 1.5rem;
            }

            .error-message {
              margin-top: .5rem;
              display: block;
  
              text-align: right;
              color: var(--red-500);
              font-size: .7rem;
            }
          }
        }

        button {
          margin-top: 1.3rem;
        }

        & > p {
          margin-top: .5rem;

          text-align: center;
          color: var(--blue-100);
          font-size: .7rem;

          a {
            color: var(--red-500);
            font-weight: bold;
          }
        }
      }
    }
  }
}
